/*
 * Classes
 * -------
 */
.aspect-ratio-auto	{
  aspect-ratio: auto;
}

.aspect-ratio-square	{
  aspect-ratio: 1 / 1;
}

.aspect-ratio-video-16-9 {
  aspect-ratio: 16 / 9;
}

.aspect-ratio-video-4-3 {
  aspect-ratio: 4 / 3;
}