/* Colors */
:root {
  /*
   * Flat colors
   * ----------- 
   */

  /* Unsaturated */
  --transparent: #87878700;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #878787;
  --light: #FFFFFFF2;
  --dark: #000000D9;
  --semi-light: #FFFFFF99;
  --semi-dark: #00000077;
  --transparent-light: #FFFFFF00;
  --transparent-dark: #00000000;
  --shadow-dark: #0000001A;
  --shadow-light: #FFFFFF1A;

  /* Primary */
  --red: #FF5353;
  --green: #49B954;
  --blue: #3DA5E0;

  /* Secondary */
  --cyan: #56CCF2;
  --yellow: #F2D74C;
  --purple: #9B51E0;
  --pink: #F88FC1;
  --orange: #FBA601;

  /* Nuanced */
  --brown: #A77255;
  --olive: #B7AD52;
  --ocean: #00648D;
  --lime: #8ACA4A;
  --teal: #10A8BC;
  --chocolate: #743F00;
  --leather: #B36C00;
  --cream: #FFFCF8;
  --peach: #F77C6F;
  --leaf: #4AA220;
  --snow: #E8EBF0;
  --pearl: #EAE0C8;
  --night: #1F2431;
  --moon: #909DAC;
  --blueberry: #363E4F;
}