/*
 * Font faces
 * ----------
 */

/* Avenir Next */

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Thin.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-ThinItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-ExtraLight.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-ExtraLightItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Light.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-LightItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Regular.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-RegularItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Medium.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-MediumItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-SemiBold.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-SemiBoldItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Bold.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-BoldItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-ExtraBold.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-ExtraBoldItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-Black.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../../fonts/Metropolis-BlackItalic.otf'), local('Avenir Next'), local('Avenir');
  font-weight: 900;
  font-style: italic;
}

/* Arial Black */
@font-face {
  font-family: 'Arial Black';
  src: url('../../../fonts/arial-black.ttf'), local('Arial Black'), url('../../../fonts/Metropolis-Black.otf'), local('Gadget'), local('Arial Bold'), local('Arial');
}

/* Anime Ace */
@font-face {
  font-family: 'Anime Ace';
  src: url('../../../fonts/animeace.ttf'), local('Anime Ace'), local('Comic Sans MS'), local('Comic Sans');
  font-style: normal;
  font-weight: 100 400;
}

@font-face {
  font-family: 'Anime Ace';
  src: url('../../../fonts/animeace_i.ttf'), local('Anime Ace'), local('Comic Sans MS'), local('Comic Sans');
  font-style: italic;
}

@font-face {
  font-family: 'Anime Ace';
  src: local('Anime Ace'), url('../../../fonts/animeace_b.ttf'), local('Anime Ace'), local('Comic Sans MS'), local('Comic Sans');
  font-style: normal;
  font-weight: 500 900;
}

/* Caveat */
@font-face {
  font-family: 'Caveat';
  src: url('../../../fonts/Caveat-VariableFont_wght.ttf'), url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'), local('Caveat'), local('Comic Sans MS'), local('Comic Sans');
  font-weight: 400 700;
}

/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Thin.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-ThinItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-UltraLight.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-UltraLightItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Light.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-LightItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Regular.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-RegularItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Medium.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-MediumItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-SemiBold.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-SemiBoldItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Bold.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-BoldItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-ExtraBold.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-ExtraBoldItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-Black.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 900;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../../fonts/Gilroy-BlackItalic.ttf'), local('Gilroy'), local('Avenir Next'), local('Avenir');
  font-weight: 900;
  font-style: italic;
}