/* 
 * Classes
 * -------
 */

.line-height-0-percent {
  line-height: 0% !important;
}

.line-height-10-percent {
  line-height: 10% !important;
}

.line-height-20-percent {
  line-height: 20% !important;
}

.line-height-30-percent {
  line-height: 30% !important;
}

.line-height-40-percent {
  line-height: 40% !important;
}

.line-height-50-percent {
  line-height: 50% !important;
}

.line-height-60-percent {
  line-height: 60% !important;
}

.line-height-70-percent {
  line-height: 70% !important;
}

.line-height-80-percent {
  line-height: 80% !important;
}

.line-height-90-percent {
  line-height: 90% !important;
}

.line-height-100-percent {
  line-height: 100% !important;
}

.line-height-110-percent {
  line-height: 110% !important;
}

.line-height-120-percent {
  line-height: 120% !important;
}

.line-height-130-percent {
  line-height: 130% !important;
}

.line-height-140-percent {
  line-height: 140% !important;
}

.line-height-150-percent {
  line-height: 150% !important;
}

.line-height-160-percent {
  line-height: 160% !important;
}

.line-height-170-percent {
  line-height: 170% !important;
}

.line-height-180-percent {
  line-height: 180% !important;
}

.line-height-190-percent {
  line-height: 190% !important;
}

.line-height-200-percent {
  line-height: 200% !important;
}

.line-height-210-percent {
  line-height: 210% !important;
}

.line-height-220-percent {
  line-height: 220% !important;
}

.line-height-230-percent {
  line-height: 230% !important;
}

.line-height-240-percent {
  line-height: 240% !important;
}

.line-height-250-percent {
  line-height: 250% !important;
}