@import '../common.css';

/* 
 * Classes
 * -------
 */
.icon-container,
.icon {
  --_size: var(--size-20-24);
  --_max-width: calc(6 * var(--_size));
}

.icon-container img,
.icon {
  height: var(--_size);
  min-width: auto;
  min-height: auto;
  width: auto;
  max-width: var(--_max-width);
  padding: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--_size);
}

.icon-container img.small,
.icon-container.small,
.icon.small {
  --_size: var(--size-12-18);
}

.icon-container img.large,
.icon-container.large,
.icon.large {
  --_size: var(--size-24-32);
}

.icon-container img.xlarge,
.icon-container.xlarge,
.icon.xlarge {
  --_size: var(--size-32-48);
}