@media (hover: none), (pointer: coarse) {
  .pulsing {
    animation: pulsing 3s linear infinite;
    outline: 0;
    outline-offset: 0;
    transform: none;
  }
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  .pulsing:not(:hover) {
    animation: pulsing 3s linear infinite;
    outline: 0;
    outline-offset: 0;
    transform: none;
  }
}

@keyframes pulsing {
  0% {
    outline: 0px solid transparent;
    outline-offset: 0px;
    transform: none;
  }

  50% {
    outline: 0px solid transparent;
    outline-offset: 0px;
    transform: none;
  }

  60% {
    outline: 2px solid #00000033;
    outline-offset: 0px;
  }

  70% {
    outline: 4px solid #00000011;
    outline-offset: 5px;
  }

  92% {
    outline: 0px solid transparent;
    outline-offset: 20px;
    transform: none;
  }

  93% {
    transform: rotate(-3deg);
    outline-offset: 0px;
  }

  95% {
    transform: rotate(3deg);
  }

  97% {
    transform: rotate(-3deg);
  }

  99% {
    transform: rotate(3deg);
  }

  100% {
    transform: none;
  }
}