.opacity-100-percent {
  opacity: 1 !important;
}

.opacity-90-percent {
  opacity: 0.9 !important;
}

.opacity-80-percent {
  opacity: 0.8 !important;
}

.opacity-75-percent {
  opacity: 0.75 !important;
}

.opacity-70-percent {
  opacity: 0.7 !important;
}

.opacity-60-percent {
  opacity: 0.6 !important;
}

.opacity-50-percent {
  opacity: 0.5 !important;
}

.opacity-40-percent {
  opacity: 0.4 !important;
}

.opacity-30-percent {
  opacity: 0.3 !important;
}

.opacity-25-percent {
  opacity: 0.25 !important;
}

.opacity-20-percent {
  opacity: 0.2 !important;
}

.opacity-10-percent {
  opacity: 0.1 !important;
}

.opacity-0-percent {
  opacity: 0 !important;
}